<div class="picture-grid__item">
    <img class="picture-grid__item__photo" {{action 'imageClicked'}} data-picture-id="{{image.id}}" src="{{image.urls.small}}" style="background-color:{{image.color}}">
    <div class="picture-grid__item__meta">
        <div class="picture-grid__item__meta__avatar">
            <img class="picture-grid__item__meta__avatar__photo" src="{{image.user.profile_image.medium}}">
        </div>
        <div class="picture-grid__item__meta__username">{{image.user.name}}</div>
    </div>
</div>